<!-- templates/home.html -->
{% extends 'base_generic.html' %}


{% block title %}Home - Oportunusp{% endblock %}

{% block content %}
    
    <p>Encontre as melhores oportunidades de pesquisa aqui!</p>
    
    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
        
        <!-- Formulário de Logout 
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>-->
        <a href="{% url 'opportunity_list' %}">
            <button  >Ver Oportunidades</button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button>Entrar</button>
        </a> 

        <a href="{% url 'register' %}">
            <button  >Criar Conta</button>
        </a>
    {% endif %}
    <!--
    <h2>Oportunidades</h2>
    <a href="{% url 'opportunity_list' %}">
        <button  >Ver Oportunidades</button>
    </a>
    -->
{% endblock %}
