{% extends 'base_generic.html' %}

{% block title %}Lista de Oportunidades{% endblock %}

{% block content %}
    <h2>Lista de Oportunidades</h2>

    <!-- Formulário de busca -->
    <form method="get" action="{% url 'opportunity_list' %}">
        <input type="text" name="q" placeholder="Buscar oportunidades..." value="{{ query }}">
        <button type="submit">Buscar</button>
    </form>

    <!-- Lista de oportunidades -->
    <section class="opportunities_list">
        {% for opportunity in opportunities %}
            <article class="card">
                </a>
                <h3> {{ opportunity.posted_by }}</h5>
                <p>{{ opportunity.title }} ({{ opportunity.description }})</p>
                <div id="card_lower_section">
                    <a href="{% url 'opportunity_detail' opportunity.pk %}"> <button class="button_variation">Ver detalhes</button>
                </div>
          </article>
        {% empty %}
            <li>Nenhuma oportunidade encontrada.</li>
        {% endfor %}
    </section>
{% endblock %}
