{% extends 'base_generic.html' %}

{% block content %}
<h1>{{ profile.full_name }}</h1>

<!-- Verificando se existe uma foto de perfil -->
{% if profile.profile_pic %}
<div class="profile-picture-container">
    <img src="{{ profile.profile_pic.url }}" alt="Foto de perfil" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover;">
</div>
{% endif %}

<p><strong>Email:</strong> {{ profile.user.email }}</p>
<p><strong>Descrição:</strong> {{ profile.description }}</p>

<!-- Exibindo o tipo de usuário -->
<p><strong>Tipo de usuário:</strong> {{ profile.user_type }}</p>

<h2>Oportunidades criadas por {{ profile.user.username }}</h2>
<section class="opportunities_list">
    {% for opportunity in created_opportunities %}
    <article class="card">
        <h3>{{ opportunity.title }}</h3>
        <h5 style="margin-top: 0;">{{ opportunity.posted_by }}</h5>
        <p>{{ opportunity.title }} ({{ opportunity.description }})</p>
        <div id="card_lower_section">
            <a href="{% url 'opportunity_detail' opportunity.pk %}">
                <button class="button_variation">Ver detalhes</button>
            </a>
        </div>
    </article>
    {% empty %}
        <p>Nenhuma oportunidade criada por este usuário.</p>
    {% endfor %}
</section>

<h2>Oportunidades nas quais {{ profile.user.username }} se inscreveu</h2>
<section class="opportunities_list">
    {% for opportunity in subscribed_opportunities %}
    <article class="card">
        <h3>{{ opportunity.title }}</h3>
        <h5 style="margin-top: 0;">{{ opportunity.posted_by }}</h5>
        <p>{{ opportunity.title }} ({{ opportunity.description }})</p>
        <div id="card_lower_section">
            <a href="{% url 'opportunity_detail' opportunity.pk %}">
                <button class="button_variation">Ver detalhes</button>
            </a>
        </div>
    </article>
    {% empty %}
        <p>{{ profile.user.username }} não está inscrito em nenhuma oportunidade.</p>
    {% endfor %}
</section>
{% endblock %}
