{% extends 'base_generic.html' %}

{% block content %}
<h1>Lista de Perfis</h1>
<form method="GET" action="{% url 'profile_list' %}">
    <input type="text" name="q" placeholder="Pesquisar por nome ou email" value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for profile in profiles %}
        <li>
            <a href="{% url 'profile_detail' profile.user.id %}">
                {{ profile.user.username }} - {{ profile.user.email }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
