{% extends 'base_generic.html' %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<h2>Meu Perfil</h2>

<div>
    <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil" style="max-width: 150px; border-radius: 50%;">
    <p><strong>Usuário:</strong> {{ request.user.username }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    <p><strong>Descrição:</strong> {{ profile.description }}</p>
</div>
<a href="{% url 'edit_profile'%}"> <button>Editar perfil </button></a>
<hr>

<h3>Oportunidades Criadas</h3>
<section class="opportunities_list">
    {% for opportunity in opportunities %}
        <article class="card">
            <h3>{{ opportunity.title }}</h3>
            <h5 style="margin-top: 0;" > {{ opportunity.posted_by }}</h5>
            <p>({{ opportunity.description }})</p>
            <div id="card_lower_section">
                <a href="{% url 'opportunity_detail' opportunity.pk %}"> <button class="button_variation">Ver detalhes</button></a>
            </div>
      </article>
    {% empty %}
        Nenhuma oportunidade encontrada.
    {% endfor %}
</section>
{% endblock %}
