:root {
    --button-color:#ECE6F0;
    --button-hoverColor: #652a8c;
    --background-color: #F3F5F4;
    --header-color: #F3F5F4; 
    --nav_color: #6e55a6 ; 
    --content-color: #ececec;  
    --accent-color: #ffffff;
    --border-color: #00000015;
    --text-dark:#65558F;
    --card-background: #e4dde8;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    align-items: center;
    flex-grow: 1;
    padding:1%;
 

}
header{
    background-color: var(--header-color);
    text-align: center;
    width: 100%;
    margin-left:5%;
    margin-right: 5%; 
    border-radius: 5px;
}
nav {
    background-color: var(--nav-color);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content{ 
    background-color: var(--content-color);
    display: flex;
    flex-direction: column;
    margin-top: 2% ;
    align-items: center;
    width:fit-content;
    padding: 5%;
    border-style: solid;
    border-color: var(--border-color);
}
#content-login{ 
    display: flex;
    flex-direction: row;
    margin-top: 2% ;
    align-items: left;
}
#register-box{
    display:flex;
    flex-direction: column;
    background-color: var(--content-color);
    padding: 5%;
    border-radius: 5px ;
    align-items: center;
}

#login-box {
    background-color: var(--card-background);
    padding: 5%;
    border-radius: 5px ;
    display: flex;
    flex-grow: 3;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-color: var(--border-color);
}
#intro_textbox{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2%;
    flex-shrink: 10;
}
.intro_text{
    display:flex;
    flex-direction: column;
    background-color: var(--card-background);
    flex-grow: 1;
    padding: 5%;
    border-radius: 5px ;
    align-items:center ;
    border-style:solid;
    border-color: var(--border-color);
}
.intro_textbox_spacer{
    display:flex;
    flex-grow: 1;
}

#footer-section{
    display:flex;
    align-items: end;
    flex-grow:1;
}
.form{
    display:flex;
    flex-direction: column;
    align-items:left ;
}

button {
  background-color:  var(--button-color); 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  margin: 4px 2px; 
  border-radius: 12px; 
  transition: background-color 0.3s ease;
  color: var(--text-dark);
  box-shadow: 2px 2px 5px var(--button-hoverColor);
}
.button_variation {
    background-color:  var(--button-color); 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    margin: 4px 2px; 
    border-radius: 25px; 
    transition: background-color 0.3s ease;
    color: var(--text-dark);
    box-shadow: 2px 2px 5px var(--button-hoverColor);
  }

button:hover {
  background-color: var(--button-hoverColor);
  color:#ffffff
}
.opportunities_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--button-hoverColor);
    margin: 1rem;
    padding: 1.25rem;
    width: 15cap;
    background-color: var(--card-background);
  }
  #card_lower_section{
    display: flex;
    justify-content: end;
    padding-top:10px;
    align-items: end;
    flex-grow: 1;
  }
  #search{
    display: flex;
    justify-content: end;
    width: 100%;
  }

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 500px; 
    height: 500px;
    border-radius: 50%; /* Redondo */
    object-fit: cover;  /* Para manter a imagem sem distorção */
}
