<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'style.css' %}">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Bem-vindo ao OportunUSP{% endblock %}</h1>
        <nav>
            <!-- Outros links -->
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}"><button>Home</button></a>
                <a href="{% url 'user_profile' %}"><button>Meu Perfil</button></a>
                <a href="{% url 'create_opportunity' %}"><button>Criar Oportunidade</button></a>
                <a href="{% url 'opportunity_list' %}"><button>Lista de Oportunidades</button></a> <!-- Botão adicionado -->
                <a href="{% url 'profile_list' %}"><button>Lista de Usuários</button></a>
                <form style="display: inline" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <!-- Links para usuários não autenticados -->
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <section id="footer-section">
        <footer>
            <p>PMR3304 Sistemas de Informação - Grupo D - 2024</p>
        </footer>
    </section>
</body>
</html>
