<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Bem-vindo ao OportunUSP{% endblock %}</h1>
        <nav>
            <!-- Outros links -->
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}">Meu Perfil</a> | 
                <a href="{% url 'create_opportunity' %}">Criar Oportunidade</a> |  <!-- Link para criar oportunidade -->
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
